<h1>Order <%= @order.id %></h1>

<p>Placed on: <%= @order.created_at %></p>
<p>Last Updated: <%= @order.updated_at %></p>
<p>Status: <%= @order.status %></p>
<p>Total Items Ordered: <%= @order.total_quantity %></p>
<p>Total Cost: <%= number_to_currency(@order.grand_total) %></p>

<% @items.each do |item| %>
  <div id="item-<%= item.id %>">
    <h3><%= link_to item.name, item_path(item) %></h3>
    <p><%= item.description %></p>
    <%= image_tag item.image || @default_image, alt: "image of #{item.name}" %>
    <p>Price: <%= number_to_currency(@order.item_price(item)) %> each</p>
    <p>Quantity: <%= @order.item_quantity(item) %></p>
    <p>Subtotal: <%= number_to_currency(@order.item_subtotal(item)) %> each</p>
  </div>
<% end %>

<% if @order.pending? %>
  <%= button_to "Cancel Order", cancel_order_path(@order), method: "patch" %>
<% end %>
