<div id="merchant-profile">
  <h1><%= @merchant.name %></h1>
  <p>Email: <%= @merchant.email %></p>
  <p>Street address: <%= @merchant.address %></p>
  <p>City: <%= @merchant.city %></p>
  <p>State: <%= @merchant.state %></p>
  <p>Zip: <%= @merchant.zip %></p>
</div>

<%= button_to "Downgrade Account", admin_downgrade_merchant_path(@merchant), method: "patch" %>

<h4>Pending Orders</h4>

<% @pending_orders.each do |order| %>
  <div id="pending-merchant-orders-<%= order.id %>">
    <p><%= link_to "Order #{order.id}", merchant_order_path(order) %></p>
    <p>Date Ordered: <%= Date.strptime(order.created_at.to_s) %></p>
    <p>Total Quantity Ordered: <%= order.total_quantity_for_merchant(@merchant) %></p>
    <p>Total Amount Owed: <%= number_to_currency(order.total_value_for_merchant(@merchant)) %></p>
  </div>
<% end %>
