<h1>All Merchants</h1>
<div id="statistics">
  <h2>Statistics</h2>
  <div id="top-3-orders-by-quantity">
    <h3>Top 3 Orders by Quantity</h3>
    <ol>
      <% @top_3_orders_by_quantity.each do |order| %>
        <li>Order <%= order.id %>: <%= order.total_quantity %></li>
      <% end %>
    </ol>
  </div>
  <div id="top-3-merchants-by-revenue">
    <h3>Top 3 Merchants by Revenue</h3>
    <ol>
      <% @top_3_merchants_by_revenue.each do |merchant| %>
        <li><%= merchant.name %>: <%= number_to_currency(merchant.total_revenue) %></li>
      <% end %>
    </ol>
  </div>
  <div id="top-3-merchants-by-quantity">
    <h3>Top 3 Merchants by Quantity</h3>
    <ol>
      <% @top_3_merchants_by_quantity.each do |merchant| %>
        <li><%= merchant.name %>: <%= number_to_currency(merchant.total_revenue) %></li>
      <% end %>
    </ol>
  </div>
</div>
<% if current_admin? %>
  <h2>Active Merchants</h2>
<% end %>
<% @active_merchants.each do |merchant| %>
  <div id="merchant-id-<%= merchant.id %>">
    <h3>Merchant:
      <% if current_admin? %>
        <%= link_to merchant.name, admin_merchant_path(merchant) %>
      <% else %>
        <%= merchant.name %>
      <% end %>
    </h3>
    <ul>
      <li>Location: <%= merchant.city %>, <%= merchant.state %>.</li>
      <li>Account Created: <%= Date.strptime(merchant.created_at.to_s) %></li>
    </ul>
    <% if current_admin? %>
      <%= button_to "Disable Merchant", admin_disable_merchant_path(merchant), method: "patch", data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
    <% end %>
  </div>
<% end %>

<% if current_admin? %>
  <h2>Inactive Merchants</h2>
  <% @inactive_merchants.each do |merchant| %>
    <div id="merchant-id-<%= merchant.id %>">
      <h3>Merchant:
        <% if current_admin? %>
          <%= link_to merchant.name, admin_merchant_path(merchant) %>
        <% else %>
          <%= merchant.name %>
        <% end %>
      </h3>
      <ul>
        <li>Location: <%= merchant.city %>, <%= merchant.state %>.</li>
        <li>Account Created: <%= Date.strptime(merchant.created_at.to_s) %></li>
      </ul>
      <%= button_to "Enable Merchant", admin_enable_merchant_path(merchant), method: "patch", data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
    </div>
  <% end %>
<% end %>