<% if cart.is_not_empty %>
  <% cart.item_and_quantity_hash.each do |item, quantity| %>
    <div id="item-<%= item.id %>">
      <%= link_to item.name, item_path(item) %>
      <%= image_tag item.image || @default_image, alt: "image of #{item.name}" %>
      <p><%= item.user.name %></p>
      <p><%= number_to_currency(item.price) %></p>
      <div class="quantities" >
      Quantity:<%= button_to "-", carts_path(item_id: item.id), method: :update, params: {quantity: :less} %><%= quantity %>
        <%= button_to "+", carts_path(item_id: item.id), method: :update , params: {quantity: :more}  %>
        <%= button_to "Remove", carts_path(item_id: item.id), method: :update, params: {quantity: :remove}  %>
      </div>
      <p>Subtotal: <%= number_to_currency(cart.subtotal(item)) %></p>
    </div>
  <% end %>

  <h2>Grand Total: <%= number_to_currency(cart.grand_total) %></h2>

  <%= button_to "Check Out", cart_path %>
  <%= button_to "Empty Cart", { controller: :carts, action: :destroy }, method: :delete %>
<% else %>
  <h1>There is nothing in your cart!</h1>
<% end %>

<% if !current_user  %>
  <div id="visitor-checkout">
    <h1>You must <%= link_to "register", register_path %> or <%= link_to "log in", login_path %> to finish the checkout process.</h1>
  </div>
<% end %>
