<% cart.item_and_quantity_hash.each do |item, quantity| %>
  <div id="item-<%= item.id %>">
    <%= link_to item.name, item_path(item) %>
    <%= image_tag item.image || @default_image, alt: "image of #{item.name}" %>
    <p><%= item.user.name %></p>
    <p>$<%= item.price %></p>
    <p>Quantity: <%= quantity %></p>
    <p>Subtotal: $<%= cart.subtotal(item) %></p>
  </div>
<% end %>

<h2>Grand Total: $<%= cart.grand_total %></h2>

<%= button_to "Empty Cart", { controller: :carts, action: :destroy }, method: :delete %>
