<% if cart.is_not_empty %>
  <% cart.item_and_quantity_hash.each do |item, quantity| %>
    <div id="item-<%= item.id %>" class="card mb-3>
      <div class="row no-gutters">
        <%= image_tag item.image || @default_image, alt: "image of #{item.name}", class: "col-md-3 card-img" %>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><%= link_to item.name, item_path(item) %></h5>
            <p class="card-text"><%= item.user.name %></p>
            <p class="card-text"><%= number_to_currency(item.price) %></p>
            <div class="quantities" >
              Quantity:<%= button_to "-", cart_decrement_item_path(item), method: :patch%><%= quantity %>
              <%= button_to "+", cart_increment_item_path(item), method: :patch %>
              <%= button_to "Remove", cart_remove_item_path(item), method: :patch%>
            </div>
            <p class="card-text">Subtotal: <%= number_to_currency(cart.subtotal(item)) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <h2>Grand Total: <%= number_to_currency(cart.grand_total) %></h2>

  <% if current_user?  %>
    <%= button_to "Check Out", cart_path %>
  <% end %>
  <%= button_to "Empty Cart", { controller: :carts, action: :destroy }, method: :delete %>
<% else %>
  <h1>There is nothing in your cart!</h1>
<% end %>

<% if !current_user?  %>
  <div id="visitor-checkout">
    <h1>You must <%= link_to "register", register_path %> or <%= link_to "log in", login_path %> (as a regular user) to finish the checkout process.</h1>
  </div>
<% end %>
