<h1>Items I'm Selling</h1>

<%= link_to "Add a New Item", new_merchant_item_path  %>
<div class='merchant-items'>
<% @items.each do |item| %>
  <div id="item-<%= item.id %>" class="card mb-3">
    <div class="row no-gutters">
      <%= image_tag item.image || @default_image, alt: "image of #{item.name}", class: "col-md-3 card-img" %>
      <div class="col-md-9 card-body">
        <h3 class="card-title"><%= link_to item.name, item_path(item) %></h3>
        <p class="card-text">ID: <%= item.id %></p>
        <p class="card-text"><%= number_to_currency(item.price) %></p>
        <p class="card-text"><%= item.inventory %> in stock</p>
        <p class="card-text"><%= button_to "Edit Item", edit_merchant_item_path(item), method: "get" %></p>
        <p class="card-text">
          <% if item.reload.active %>
            <%= button_to "Disable Item", merchant_disable_item_path(item), method: "patch", data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
          <% else %>
            <%= button_to "Enable Item", merchant_enable_item_path(item), method: "patch", data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
          <% end %>
        </p>
        <p class="card-text">
          <% if item.order_count == 0 %>
            <%= button_to "Delete Item", merchant_item_path(item), method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
