<h2><%= @item.name %></h2>
<%= image_tag @item.image || @default_image, alt: "image of #{@item.name}" %>
<p>Description: <%= @item.description %></p>
<p>Merchant Name: <%= @merchant.name %></p>
<p><%= @item.inventory %> in stock</p>
<p><%= number_to_currency(@item.price) %></p>
<p>Average Fulfillment Time: <%= @item.average_fulfillment_time %> days</p>

<% if (current_user == nil) || current_user.user? %>
  <%= button_to "Add to Cart",add_to_cart_path(@item)  %>
<% end %>
