<%= link_to 'View all items for sale', merchant_items_path %>

<div id="dashboard-show">
  <h1><%= @merchant.name %></h1>
  <p>Email: <%= @merchant.email %></p>
  <p>Address: <%= @merchant.address %></p>
  <p><%= @merchant.city %>, <%= @merchant.state %></p>
  <p>Zip: <%= @merchant.zip %></p>
</div>

<h4>Pending Orders</h4>

<% @merchant_orders.each do |order| %>
  <div id="merchant-orders-<%= order.id %>">
    <p><%= link_to "Order #{order.id}" %>, user_order_path(order)</p>
    <p>Date Ordered: <%= order.created_at %></p>
      <% order.order_items.each do |oi| %>
          <p>Quantity Ordered: <%= oi.quantity %></p>
          <p>Amount Owed: <%= number_to_currency(order.grand_total) %></p>
      <% end %>
  </div>
<% end %>
