<%= link_to 'View all items for sale', merchant_items_path %>

<div id="dashboard-show">
  <h1><%= @merchant.name %></h1>
  <p>Email: <%= @merchant.email %></p>
  <p>Address: <%= @merchant.address %></p>
  <p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>
</div>
